name: AWS Deploy

on:
    push:
        branches:
            - main
jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v1
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET }}
                  aws-region: us-east-1

            - name: Sync files to S3 bucket
              run: aws s3 cp . s3://${{ secrets.S3_BUCKET }} --exclude .git/ --exclude .github/
